/*reset styles.scss*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;700;800&display=swap");
html,
body,
header,
main,
footer,
section,
div,
nav,
ul,
ol,
li,
a,
p,
span,
b,
i,
em,
input,
label,
button,
textarea,
blockquote,
br,
canvas,
code,
dt,
dd,
del,
ins,
form,
iframe,
img,
pre,
sub,
sup,
table,
td,
th,
tfoot,
tr,
video,
audio,
aside,
article,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("HelveticaNeueCyr-Roman.eot");
  src: url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Roman/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Medium/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Medium/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Bold/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Bold/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNueCyr-Bold/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "HelveticaNeueCyr", "Helvetica";
  font-size: 16px;
  line-height: 24px;
  color: #383838;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1820px;
  padding: 0px 50px 0px 50px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 96px;
  line-height: 115px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.header {
  padding: 22px 0px 9px 0px;
}

.header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__wrapper .header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__wrapper .header__block_1 button.header__burger-btn {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header__wrapper .header__block_1 button.header__burger-btn .header__burger-img {
  display: none;
}

.header .header__wrapper .header__block_1 button.header__burger-btn .header__burger-img_active {
  display: block;
}

.header .header__wrapper .header__block_1 .header__logo-link {
  margin: 0px 0px 0px 100px;
}

.header .header__wrapper .header__block_2 .header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 65px 0px 0px;
}

.header .header__wrapper .header__block_2 .header__phone-link {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #830505;
}

.header .header__wrapper .header__block_2 .header__phone-time {
  margin: 4px 0px 0px 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.header .header__wrapper .header__block_2 .header__lang-select {
  padding: 8px 16px 8px 8px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff60;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header .header__wrapper .header__block_2 .header__lang-select:hover {
  background: #c0c0c060;
}

.header .header__wrapper .header__block_2 .header__lang-select-img {
  margin: 0px 8px 0px 0px;
}
/*# sourceMappingURL=main.css.map */