// scss/pages/main.scss

@import "../base/base-main";

@import "../blocks/breadcrumbs";
@import "../blocks/form";
@import "../blocks/videos";
@import "../blocks/partners";


.offer {
  background: url('../img/consultation/offer__img-line.svg'), url('../img/consultation/offer-bg.png');
  background-repeat: no-repeat;
  background-size: 500px, cover;
  background-position: bottom left, bottom;
  min-height: 900px;
  padding: 0px 0px 40px 0px;

  @media (max-width:900px) {
    min-height: fit-content;
    background: url('../img/consultation/offer-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .breadcrumbs {
    a.breadcrumbs__link {
      color: #ffffff;
    }
  }

  .header {
    .header__phone {
      .header__phone-link {
        color: $white;
      }

      .header__phone-time {
        color: $gold;
      }
    }

    .header__wrapper {
      .header__lang-select {
        background: #FFFFFF60;

        &.list-active {
          background: none;

          .header__lang-select__wrapper {
            background: #FFFFFF60;
          }
        }
      }
    }
  }

  .form {
    padding: 0;
    background: none;
    margin-top: 200px;
    padding: 0px 158px 0px 158px;

    .form__title {
      color: $white;
    }

    @media (max-width: 1600px) {
      padding: 0px 130px 0px 130px;
    }

    @media (max-width: 1500px) {
      padding: 0px 100px 0px 100px;
    }

    @media (max-width:1400px) {
      padding: 0px 80px 0px 80px;
    }

    @media (max-width:1250px) {
      margin: 50px auto 0px;
      flex-direction: column;
      align-items: center;

      .form__block {
        max-width: none;

        .form__title {
          width: 100%;
          margin-bottom: 32px;

          @media (max-width:500px) {
            margin-bottom: 24px;
          }
        }

        .form__text {
          width: 100%;

          @media (max-width:500px) {
            font-weight: 700;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 24px;

          }
        }
      }

      @media (max-width:500px) {
        margin: 30px auto 0px;
      }

      .form__inputs {
        margin: 0px;
        $The50persMinusGap: calc(50% - 10px);
        grid-template-columns: $The50persMinusGap $The50persMinusGap;
        width: 100%;

        @media (max-width:700px) {
          grid-template-columns: auto;
          grid-gap: 8px;
        }
      }

    }

    @media (max-width: 1000px) {
      .form__block {
        max-width: none;
        width: 100%;
      }
    }

    @media (max-width:900px) {
      padding: 0px 20px 0px 20px;
    }

    @media (max-width: 500px) {
      padding: 0px 16px 0px 16px;
    }
  }

  .form__block_1 {
    width: auto;

    .form__title {
      width: auto;
    }

    .form__text {
      width: auto;
    }
  }
}