@import "../base/base-main";

@import "../blocks/breadcrumbs";
@import "../blocks/principals";
@import "../blocks/form";
@import "../blocks/videos";
@import "../blocks/partners";


.offer {
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width:500px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .offer__block {
    position: relative;

    .offer__title {
      max-width: 705px;
      color: #981717;
      margin: 0px 0px 36px 0px;

      @media (max-width:1170px) {
        max-width: unset;
      }
    }

    .offer__text {
      max-width: 705px;

      @media (max-width:1170px) {
        max-width: unset;
      }

      @media (max-width:500px) {
        font-size: 12px;
        line-height: 18px;
      }
    }

    .offer__list {
      padding: 60px 0px 0px 20px;
      max-width: 705px;

      @media (max-width:1170px) {
        max-width: unset;
        padding: 20px 0px 0px 20px;
      }


      .offer__item {
        margin: 0px 0px 24px 0px;
        list-style-type: disc;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;

        @media (max-width:500px) {
          font-family: $FontText;
          font-size: 12px;
          line-height: 18px;
          margin-bottom: 12px;
        }

        &::marker {
          color: $gold;
          font-size: 24px;

          @media (max-width:500px) {
            font-size: 16px;
          }
        }
      }
    }

    .offer__img {
      position: absolute;
      top: 0;
      right: -50px;
      width: 560px;
      height: 646px;

      @media (max-width:1400px) {
        width: 500px;
        height: 576px;
      }

      @media (max-width:1300px) {
        width: 450px;
        height: 520px;
      }

      @media (max-width:1250px) {
        width: 350px;
        height: 400px;
      }

      @media (max-width:1170px) {
        position: relative;
        right: auto;
        display: block;
        margin: 24px auto 16px;
      }

      @media (max-width:600px) {
        width: 288px;
        height: 332px;
      }

      @media (max-width:400px) {
        width: 288px;
        height: 332px;
      }
    }

  }
}

.opportunity {
  padding: 100px 0px 50px 0px;
  position: relative;
  @media (max-width:500px){
    padding-bottom: 0px;
  }

  .opportunity__title {
    color: #981717;
    margin: 0px 0px 80px 0px;

    @media (max-width:700px) {
      margin: 0px 0px 40px 0px;
    }

    @media (max-width:500px) {
      margin: 0px 0px 24px 0px;
    }
  }

  .opportunity__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 250px;

    @media (max-width:1025px) {
      margin-bottom: 50px;
    }
    @media (max-width:500px){
      margin-bottom: 30px;
    }

    

    &.reversed {
      flex-direction: row-reverse;

      @media (max-width:1025px) {
        flex-direction: column-reverse;
        align-items: unset;
      }
    }

    @media (max-width:1025px) {
      flex-direction: column-reverse;
      align-items: unset;
    }

    .opportunity__text-block {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      max-width: 415px;

      @media (max-width:1025px) {
        margin: 16px 0px 46px 0px;
        max-width: none;
      }

      @media (max-width:500px) {
        font-size: 12px;
        line-height: 18px;
      }

      .opportunity__list {
        padding: 0px 0px 0px 20px;

        .opportunity__item {
          list-style-type: disc;
          margin: 0px 0px 24px 0px;


          &::marker {
            color: $gold;
            font-size: 24px;

            @media (max-width:500px) {
              font-size: 16px;
            }
          }
        }
      }

      .opportunity__text {
        margin: 30px 0px 0px 0px;
        font-weight: 400;

        @media (max-width:1025px) {
          display: none;
        }

        a {
          color: #981717;
          text-decoration: underline;
        }
      }
    }

    .opportunity__img-block {
      max-width: 850px;
      width: 59%;

      &.opportunity__img-block__hope {
        max-width: 520px;
      }

      @media (max-width:1200px) {
        width: 50%;
      }

      @media (max-width:1025px) {
        width: 100%;
        margin: 0px 0px 0px 0px;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .swiper.search {
        position: relative;

        .swiper-slide {}

        .search__item {
          width: 500px;
        }

        .search__block {}

        .search__img {}

        .swiper-pagination {
          width: unset;
          position: absolute;
          bottom: 44px;
          left: 88px;
          font-size: 16px;
          line-height: 16px;
          color: #FFFFFF;

          @media (max-width:500px) {
            left: 32px;
            bottom: 10px;
            font-size: 12px;
            line-height: 12px;
          }
        }

        .swiper-button-prev {
          width: 24px;
          height: 24px;
          left: 40px;
          bottom: 40px;
          top: unset;

          @media (max-width:500px) {
            width: 16px;
            height: 16px;
            left: 8px;
            bottom: 8px;
          }

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: url('../img/journalist/arrow-left.svg');
            background-size: cover;
          }
        }

        .swiper-button-next {
          width: 24px;
          height: 24px;
          left: 137px;
          bottom: 40px;
          top: unset;

          @media (max-width:500px) {
            width: 16px;
            height: 16px;
            bottom: 8px;
            left: 65px;
          }

          &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: url('../img/journalist/arrow-right.svg');
            background-size: cover;
          }
        }
      }
    }
  }

  .opportunity__absolut-img-block {
    img {
      position: absolute;
      z-index: -1;

      @media (max-width:1000px) {
        width: 87px;
        height: 126px;
      }
    }

    .img__circles {
      top: 350px;
      right: 0;

      @media (max-width:1000px) {
        display: none;
      }
    }

    .rectangle-1 {
      right: 100px;
      top: 300px;

      @media (max-width:1500px) {
        right: 50px;
        top: 300px;
      }
    }

    .rectangle-2 {
      left: 100px;
      top: 750px;

      @media (max-width:1500px) {
        left: 50px;
        top: 750px;
      }
    }

    .rectangle-3 {
      transform: rotate(90deg);
      bottom: 600px;
      right: 680px;

      @media (max-width:1400px) {
        right: 500px;
      }

      @media (max-width:1150px) {
        bottom: 500px;
        right: 400px;
      }
    }
  }
}

.more {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url('../img/journalist/more_bg.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;

  .more__title {
    color: #981717;
    margin: 0px 0px 40px 0px;

    @media (max-width:500px) {
      margin: 0px 0px 20px 0px;
    }
  }

  .more__list {
    padding: 0px 0px 0px 20px;

    .more__item {
      list-style-type: disc;
      margin: 0px 0px 24px 0px;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;

      @media (max-width:500px) {
        font-size: 12px;
        line-height: 18px;
      }

      a {
        color: #981717;
        text-decoration: underline;
      }


      &::marker {
        color: $gold;
        font-size: 24px;

        @media (max-width:500px) {
          font-size: 16px;
        }
      }
    }
  }
}

.purpose {
  padding-top: 100px;
  padding-bottom: 200px;

  @media (max-width:1200px) {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  @media (max-width:1000px) {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  @media (max-width:900px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (max-width:500px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .purpose__title {
    margin: 0px 0px 50px 0px;
    color: $burgundy;
  }

  .purpose__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 16px 0px;

    @media (max-width:500px) {
      font-size: 12px;
      line-height: 18px;
      margin: 0px 0px 12px 0px;
    }

    &:last-child {
      margin: 0;
    }
  }
}