@import "../base/base-main";

@import "../blocks/breadcrumbs";
@import "../blocks/principals";
@import "../blocks/help";
@import "../blocks/form";
@import "../blocks/videos";
@import "../blocks/partners";



.offer {

  .offer__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 130px;

    @media (max-width:1200px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (max-width:900px){
      padding-top: 60px;
    padding-bottom: 70px;
    }

    .offer__block {
      width: 100%;
      display: block;
      position: relative;

      @media (max-width:1200px) {
        max-width: none;
      }

      .offer__title {
        color: $burgundy;
        max-width: 560px;

        @media (max-width:1050px) {
          max-width: none;
        }

        @media (max-width:500px) {
          font-size: 24px;
          line-height: 29px;
        }
      }

      .offer__description {
        font-family: $FontTitle;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin: 32px 0px 56px 0px;
        max-width: 560px;

        @media (max-width:1200px) {
          margin: 8px 0px 0px 0px;
        }

        @media (max-width:1050px) {
          max-width: none;
        }

        @media (max-width:500px) {
          font-weight: 800;
          font-size: 12px;
          line-height: 18px;
        }
      }
    }

    .offer__img {
      position: absolute;
      right: 60px;
      width: 560px;
      height: 646px;

      @media (max-width:1250px) {
        width: 500px;
        height: 576px;
      }

      @media (max-width:1200px) {
        width: 450px;
        height: 520px;
      }

      @media (max-width:1150px) {
        width: 350px;
        height: 400px;
      }

      @media (max-width:1050px) {
        position: relative;
        right: auto;
        display: block;
        margin: 24px auto 16px;
      }

      @media (max-width:600px) {
        width: 288px;
        height: 332px;
      }

      @media (max-width:400px) {
        width: 288px;
        height: 332px;
      }
    }

    .offer__pricing {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: #FFF9EA;
      border-radius: 16px;
      padding: 32px 48px 32px 48px;

      @media (max-width:1200px) {
        width: 100%;
      }

      @media (max-width:600px) {
        flex-direction: column;
        align-items: center;
      }

      .offer__pricing-block {
        @media (max-width:600px) {
          text-align: center;
        }

        .offer__pricing-title {
          font-family: $FontTitle;
          margin: 0px 0px 8px 0px;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
        }

        .offer__pricing-cost {
          font-weight: 700;
          font-size: 24px;
          line-height: 24px;
          color: $burgundy;
        }
      }

      .offer__pricing-btn {
        width: fit-content;
        font-family: $FontTitle;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        padding: 14px 32px;
        background: #FFFFFF;
        border: 2px solid #D2A951;
        box-sizing: border-box;
        border-radius: 25px;
        color: $dark-gray;

        @media (max-width:600px) {
          margin: 16px 0px 0px 0px;
        }

        @media (max-width:500px) {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }

  .offer__img {}
}

.principals {
  margin-top: 180px;
  width: 100%;

  @media (max-width:1050px) {
    margin-top: 40px;
  }

  @media (max-width:700px) {
    margin-top: 20px;
  }

  @media (max-width:500px) {
    margin-top: 16px;
  }
}