.header {
  position: relative;
  padding: 22px 0px 9px 0px;

  @media (max-width:900px) {
    padding-top: 22px;
  }

  @media (max-width:500px) {
    // padding: 20px 50px 0px 50px;
  }

  &.burger-visible {
    background: $white;
    // height: 100vh;
    padding: 22px 0px 40px 0px;

    @media (max-width:900px) {}

    .header__wrapper {
      .header__block_2 {
        .header__phone-link {
          color: $burgundy;
        }

        .header__lang-select {
          background: #FFFFFF;
          box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.06));
        }
      }
    }
  }

  .header__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header__block {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        @media (max-width:900px) {
          padding: 0px 20px 0px 20px;
        }

        @media (max-width:700px) {
          justify-content: center;
        }
      }
    }

    .header__block_1 {

      @media (max-width:700px) {
        width: 100%;
      }

      button.header__burger-btn {
        position: absolute;
        left: -52px;
        width: 48px;
        height: 48px;
        border: none;
        background: $btns-bg;
        border-radius: 4px;
        transform: translateX(-100%);
        cursor: pointer;
        transition: all 0.3s ease 0s;

        @media (max-width:1500px) {
          left: -20px;
        }

        @media (max-width:1400px) {
          left: -10px;
        }

        @media (max-width:1000px) {
          left: 0px;
        }

        @media (max-width:900px) {
          left: unset;
          position: relative;
          transform: none;
          min-width: 48px;
        }

        @media (max-width:500px) {
          min-width: 32px;
          height: 32px;
        }

        // Создание полос бургера
        span {
          position: absolute;
          background: $burgundy;
          width: 16px;
          height: 4px;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 2px;
          transition: all 0.3s ease 0s;

          @media (max-width:500px) {
            left: 8px;
            width: 12px;
            height: 3px;
          }

          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
            background: $burgundy;
            border-radius: 2px;
            width: 24px;
            height: 4px;

            @media (max-width:500px) {
              width: 16px;
              height: 3px;
            }
          }

          &::before {
            top: -7px;
            transition: all 0.3s ease 0s;

            @media (max-width:500px) {
              top: -5px;
            }
          }

          &::after {
            transition: all 0.3s ease 0s;
            top: 7px;

            @media (max-width:500px) {
              top: 5px;
            }
          }
        }

        &.header__burger_active {
          transition: all 0.3s ease 0s;
          background: $burgundy;

          span {
            transform: rotate(45deg) translateY(-50%) translateX(-10%);
            background: $gold;

            &::before {
              top: 0;
              transform: rotate(90deg);
              background: $gold;
            }

            &::after {
              top: 0px;
              transform: rotate(180deg);
              background: $gold;
            }
          }
        }
      }

      .header__logo-link {

        img.header__logo-img {
          width: 195px;
          height: 70px;

          @media (max-width:550px) {
            width: 150px;
            height: 54px;
          }

          @media (max-width:450px) {
            width: 120px;
            height: 32px;
          }
        }
      }
    }

    .header__block_2 {
      position: relative;

      .header__phone {
        @include header__phone();

        @media (max-width:700px) {
          display: none;
        }

        margin: 0;
      }

      .header__lang-select {
        position: absolute;
        right: -52px;
        transform: translateX(100%);
        padding: 8px 8px 8px 8px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background: #ffffff60;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        @media (max-width:1500px) {
          right: -20px;
        }

        @media (max-width:1400px) {
          right: 0px;
        }

        @media (max-width:900px) {
          right: unset;
          position: relative;
          transform: translateX(0);
        }

        &:hover {
          background: #c0c0c060;
        }

        &-img {
          margin: 0px 8px 0px 0px;
          width: 24px;
          height: 24px;

          @media (max-width:550px) {
            width: 16px;
            height: 16px;
          }
        }

        &-text {
          font-size: 14px;
          line-height: 14px;

          @media (max-width:550px) {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
  }



  @import "./burger";
}