.principals {
  padding: 70px 0px 70px 0px;
  background: url('../img/blocks/principals/principals__bg.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto;
  .principals__text {
    max-width: 556px;
    border-left: 4px $gold solid;
    padding: 24px 0px 40px 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    @media (max-width:500px) {
      padding: 12px 16px 20px 16px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}