// scss/base/variable.scss

// Fonts
$FontTitle:'Fira Sans', sans-serif;
$FontText: 'HelveticaNeueCyr', 'Helvetica';

// Colors
$burgundy: #830505;
$gold: #D2A951;
$light-gold:#FFF9EA;
$white: #FFFFFF;
$dark-gray: #383838;
$light-gray: #A6A6A6;
$Line-gray: #DEDEDE;